@import "../../../styles/variables.css";

.logo_wrap {
  display: flex;
  column-gap: 1.25rem;
  & span {
    display: block;
  }
  &.isShrinked {
    justify-content: center;
    & .site_name_wrap {
      display: none;
      & span {
        font-size: 0;
      }
    }
  }
}

.logo_img {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  background-color: var(--theme-color);
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--light-color);
  }

  &::before {
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(145deg);
  }
  &::after {
    right: 0px;
    top: 65%;
    transform: translate(-50%, -50%) rotate(310deg);
  }
}

.site_name_wrap {
  & span {
    &:nth-child(1) {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 7px;
    }
    &:nth-child(2) {
      color: var(--secondary-text-color);
      font-size: 0.875rem;
    }
  }
}
