:root {
  /* font family */
  --font-family: "Roboto", sans-serif;

  /* common palete */
  --light-color: #fff;
  --dark-color: #121212;

  /* Theme Related Palete */
  --theme-color: #fb5056;
  --theme-background-color: #f3f5ff; 
  --theme-background-color-light: var(--light-color);
  --theme-lighten-color: #fb50561c;

  /* Text Palete */
  --primary-text-color: var(--dark-color);
  --secondary-text-color: #7d7d7d;
  
  --primary-bg-color: var(--light-color);

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1360px;

  /* font Weights */
  --font-weight-level-1: 400;
  --font-weight-level-2: 500;
  --font-weight-level-3: 600;
  --font-weight-level-4: 700;

  font-size: 14px;

  @media only screen and (min-width: 992px) {
    font-size: 16px;
  }
}

/* Dark Theme Variables */
[data-theme="dark"] {
  
  /* Theme Related Palete */
  --theme-background-color: #121212;
  --theme-background-color-light: #383838;

  /* Text Palete */
  --primary-text-color: var(--light-color);
  --secondary-text-color: #dbdbdb;
  

  --primary-bg-color: var(--dark-color);
}
