.update__count_wrap {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.update__count_wrap button {
  padding: 0;
  border: 0;
  font-size: 1.375rem;
  background: none;
}
.update__count_wrap span {
  position: relative;
  bottom: -1px;
}
.update__count_wrap button svg {
  display: flex;
}
.update__count_wrap .plus {
  font-size: 1.125rem;
} 
.update__count_wrap .plus svg {
  fill: var(--theme-color);
}

/* Dark Theme Add-on [exceptional] */
[data-theme="dark"] .update__count_wrap .minus svg {
  fill: var(--light-color);
}