header {
  background-color: var(--primary-bg-color);
  min-height: 75px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav {
  margin-left: auto;
}

/* Media Query for 768px and more.. */
@media only screen and (min-width: 768px) {
  .header {
    min-height: 90px;
    padding: 20px 30px;
  }
}
